/* ETHAN DANIEL CHENNAULT'S TIPS ON CSS-ING
- don't apply styles to entire element types, like h1, table, etc., which complicates styling in case you use these elements in different scenarios
- apply styles to IDs (#id) and classes (.class), and be sure to add these tags to the HTML
- keep it simple, both in style and code. Don't add too many styles/style settings, it's a waste of time
*/



@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0px;
  margin: 0 auto;
  max-width: 650px;
  line-height: 24px;
  color: #353740;
  font-family: "ColfaxAI", Helvetica, sans-serif;
  font-size: 16px;
}

::selection {
  background: rgb(202, 239, 255);
}

h1 {
  text-align: center;
  font-size: 28pt;
  margin: 25px 0 25px 0;
  width: full;
  flex-basis: 100%;
}

#todo-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 60px;
  width: 100%;
  flex-wrap: wrap;
  border: 2px solid #10a37f;
  border-radius: 4px;
}

#todo-form > * {
  transition: background-color .3s ease, color .3s ease;
}

#todo-form input[type="text"] {
  border: 1px solid #10a37f;
  border-radius: 4px;
  padding: 12px 16px;
  margin: 0 5px 24px 5px;
  flex-basis: 41%;
  height: 25px;
}

#todo-form input[type="number"] {
  padding: 12px 16px;
  border: 1px solid #10a37f;
  border-radius: 4px;
  width: 105px;
  height: 19px;
  margin-right: 10px;
}

#todo-form > input[type="text"]:hover, input[type="number"]:hover {
  background-color: #F0F0F0;
}

#todo-form select {
  padding: 12px 16px;
  border: 1px solid #10a37f;
  border-radius: 4px;
  width: 200px;
  height: 45px;
  margin-right: 10px;
}

#todo-form > select:hover {
  background-color: #F0F0F0;
  cursor: pointer;
}

.button {
  padding: 12px 16px;
  border: 1px solid #10a37f;
  border-radius: 4px;
  cursor: pointer;
  height: 100%;
  background-color: initial;
  color: black;
  transition: background-color .3s ease, color .3s ease;
}

.button:hover {
  background-color: #10a37f;
  color: white;
}

#schedule {
  margin-top: 20px;
  width: 100%; 
}

#todo-list {
  padding: 1px 1px;
  border: 2.5px solid #10a37f;
  border-collapse: collapse;
  table-layout: fixed;
  word-wrap: break-word;
  width: 100%;
  margin-bottom: 20px;
}

/* ensures that the task name box always covers the most of the table */
#todo-list tr > *:first-child {
  width: 30%;
}

#todo-list th, #todo-list td {
  padding: 10px;
  text-align: center;
}