<!DOCTYPE html>
<head>
  <script 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUu5mSd5dc5VdMJ3lrcvCDXY-SzaGZMas&libraries=places&callback=initAutocomplete" 
    async defer>
  </script>
  <script> 
    let autocomplete;
    function initAutocomplete(){
      autocomplete = new google.maps.places.Autocomplete(
       document.getElementById('autocomplete'), 
       { 
         types: ['establishment'],
         componentRestrictions: {'country' : ['US']},
         fields: ['place_id', 'geometry', 'name']
       });
    }
   </script>
 
  <title>OpenAI ToDo List Scheduler Of Awesomeness</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <form action="/" method="POST" id="todo-form">
    <h1>Scheduler</h1>
    
    <input type="text" name = "name" id="todo-input-name" placeholder="Enter a task" required />
    <input type="text" name = "location" id="autocomplete" placeholder="Enter an address (Optional)" />
    <input type="number" name = "duration" id="todo-input-dur" placeholder="Duration (Min)" required />
    <select name="priority" id="todo-input-pri" placeholder="Priority" required >
      <option disabled selected value=""> -- Select a priority level -- </option>
      <option value="Highest">Highest</option>
      <option value="High">High</option>
      <option value="Medium">Medium</option>
      <option value="Low">Low</option>
      <option value="Lowest">Lowest</option>
    </select>
    
    <input class="button" type="submit" value="Add"/>
  </form>
  
  <div id="schedule">
    <h1>ToDo List</h1>
    <table id="todo-list" border="1" cellpadding="1">
      <tr>
        <th><b>Task</b></th>
        <th><b>Location</b></th>
        <th><b>Duration</b></th>
        <th><b>Priority</b></th>
      </tr>
    </table>
  </div>
  
  <div id="generate_schedule">
    <h1>Generated Schedule</h1>
    <table id="todo-list-schedule" border="1" cellpadding="1">
      <tr>
        <th><b>Task</b></th>
        <th><b>Times</b></th>
        <th><b>Priority</b></th>
      </tr>
    </table>
  </div>

  <button class="button" onclick="generate()">Generate Schedule</button>

  
     <script src="{{ url_for('static', filename='script.js') }}"></script>
 
</body>
</html>